.listOfBooks {
  padding-bottom: 10px;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.horizontal {
  display: flex;
  gap: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.listOfBooksWithTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.without-books {
  color: var(--color-third);
}
