.listOfComments {
  display: flex;
  gap: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.listOfComments--noComments {
  color: var(--color-grey);
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}
