.bookPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.bookPage--portrait {
  display: flex;
  gap: 10px;
}
.bookPage--portrait img {
  width: 55%;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.2));
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
}
.bookPage--titles h2 {
  font-weight: 600;
  font-size: 15px;
  color: var(--color-third);
}
.bookPage--description {
  line-height: 23px;
}
.without-image {
  width: 55%;
  background-color: var(--color-third);
  height: 200px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookPagae--buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
