.bookPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.bookPage--portrait {
  display: flex;
  gap: 10px;
}
.bookPage--portrait img {
  width: 55%;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.2));
  border-radius: 15px;
}
.bookPage--titles h2 {
  font-weight: 600;
  font-size: 15px;
  color: var(--color-third);
}
.bookPage--description {
  line-height: 23px;
}
